<%- include('./partials/header.ejs')%>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="title-chat">Chat</h2>
             <section>
              <section id="showMessages"class="show-messages"></section>  
              <form id="formMessages"class="form-group">
                <section class="form-typeUser">
                  <label for="user">Usuario</label>
                  <input type="radio"name="typeUser"value="usuario"id="user"required>
                  <label for="system">Sistema</label>
                  <input type="radio"name="typeUser"value="sistema"id="system"required>
                </section>
                <section>
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" placeholder="Ingrese su mensaje"name="body"id="body"required class="form-control">
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary">Enviar</button>
                    </div>
                  </div>
                </section>
              </form>         
              </section>
            </div>
        </div>
    </div>
    <%-include('./partials/scripts.ejs')%>
    <script src="../../public/js/chat.js"></script>
  </body>
</html>