<%- include('./partials/header.ejs')%>
  <body>
    <section class="container mt-5 text-center">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form class="form-group form-login"id="formLogin">
                    <label for="email"class="form-label">Email</label>
                    <input type="email"name="email"placeholder="Ingrese el email"id="email"class="form-control text-center" required>
                    <label for="password"class="form-label">Contraseña</label>
                    <input type="password" name="password" id="password"placeholder="Ingrese la contraseña"class="form-control text-center" required>
                    <button class="btn btn-success btn-login">Ingresar</button>
                </form>
            </div>
        </div>
    </section>
    <%-include('./partials/scripts.ejs')%>
  </body>
</html>