<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>
  <body>
    <style>
        li{
            margin-bottom: 10px;
            font-size: 20px;
        }
        h2{
            margin-top: 10px;
        }
    </style>
    <h2>Nuevo usuario Registrado</h2>
    <hr />
    <ul>
      <li><b>Nombre: </b><%=firstname%></li>
      <li><b>Apellido: </b><%=lastname%></li>
      <li><b>Email: </b><%=email%></li>
      <li><b>Teléfono: </b><%=phone%></li>
    </ul>
  </body>
</html>